*{
	padding: 0;
	margin: 0;
}

.on-block{
	display: block;
	animation: show 2s forwards;
}

.on-inlineBlock{
	display: inline-block;
}

.off, .contact-box{
	display: none;
	z-index: 10;
}


nav{
	background-image: linear-gradient(to right, #A61269, purple);
	height: 60px;
	padding-left: 150px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

}

nav #home, nav #about{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 0 20px 0 20px;
	margin-top: 5px;
}

nav #nameweb{
	position: absolute;
	right: 30px;
	top: 0;
}

nav #menu{
	border-radius: 0 40px 40px 0;
	margin-right: 20px;
	position: absolute;
	left: 30px;
	top: 30;
}

nav #home, nav #about{
	border-radius: 10px;
	height: 40px;
	margin-top: 10px;
	line-height: 40px;
}


/*hero*/

.hero{
	min-height: 300px;
	background-image: linear-gradient(#3D3AC1,purple);
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 40px;
}

.hero .tagname, .hero .github, .hero .reference{
	text-align: center;
	color: white;
}

.hero form{
	width : 60%;
	margin: auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.hero form input{
	width: 50%;
	height: 40px;
	background-color: #D33FAB;
	border-radius: 10px 0 0 10px;
	border: 1px solid transparent;
	padding-left: 10px;
	outline: none;
}

.hero form input:focus{
	border: 1px solid pink;
}

.hero form button{
	height: 40px;
}

.hero .tagname:nth-child(1){
	font-size: 50px;
}

.github, .hero .reference{
	width: 100px;
	padding: 10px 0 10px 0;
	border:1px solid white;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	cursor: default;
}


/*collection*/

.collection{
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-gap: 10px;
}

.card{
	width: 90%;
	margin: auto;
	margin-bottom: 40px;
}

.card .card-head{
	position: relative;
	height: 40px;
	width: 100%;
	background-color: #1419D6;
	border-radius: 10px;
	margin-bottom: 5px;
}

.card .card-head .circle{
	position: absolute;
	left: 10px;
	top: 10px;
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: #5141AA;
	border-radius: 50%;
}

.card .card-head .title{
	margin-left: 40px;
	line-height: 40px;
	font-size: 18px;
	color: white;
}

.card img{
	width: 100%;
}

.card .body{
	position: relative;
	max-height: 100px;
	overflow: hidden;
}

.card .body p{
	width: 90%;
}

.card .body .time{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 10px;
	width: 50px;
	background-color: #20CFB8;
	padding: 2.5px;
	border-radius: 2px;
}

.card .body .time .circle{
	display: inline-block;
	width: 5px;
	height: 5px;
	background-color: #1E58B8;
	border-radius: 50%;
}

.toTop{
	width: 0px;
	height: 0px;
	position: fixed;
	right: 10px;
	bottom:10px;
	border-width: 0 20px 30px 20px;
	border-color: rgba(20,20,20,0.5) transparent;
	border-style: solid;
}

.contact{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(0,255,255,0.5);
	cursor: default;
	position: fixed;
	left: 10px;
	bottom: 10px;
}

.contact-box{
	position: absolute;
	right: -150px;
	top: -50px;
	width: 150px;
}

.contact-box *{
	width: 150px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 5px;
	color: white;
}

.contact-box .facebook{	
	background-color: blue;
}

.contact-box .instagram{
	background-image: linear-gradient(#3D3AC1,purple);
}

.contact-box .email{
	background-color: red;
}


@media(max-width: 400px) {
	.collection{
		grid-template-columns: 100%;
	}
}


@media (min-width: 400px){
	@media (max-width: 800px){
		.collection{
			grid-template-columns: 50% 50%;
		}

		.card img{
			max-height: 180px;
		}
	}
}